/* ШРИФТЫ */
@font-face {
  font-family: "Inter";
  src: url("../fonts/interregular.woff2") format("woff2"),
    url("../fonts/interregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/intermedium.woff2") format("woff2"),
    url("../fonts/intermedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/intersemibold.woff2") format("woff2"),
    url("../fonts/intersemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/interbold.woff2") format("woff2"),
    url("../fonts/interbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* КАСТОМНЫЕ СВОЙСТВА - ЦВЕТ */
:root {
  --basic-white: #ffffff;
  --basic-black: #171717;
  --basic-grey: #252525;
  --text-grey: #8f8f8f;
  --text-red: #d91515;
  --dark-grey: #545454;
  --blue: #00a0ff;
  --green: #00f6b6;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 1440px;
  margin: 0;
  padding: 0;
  min-height: 100%;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}

a {
  text-decoration: none;
  color: var(--basic-white);
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------------------КНОПКИ---------------------*/
.button-blue {
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-black);

  border-radius: 8px;
  background: linear-gradient(
    99.35deg,
    var(--green) 22.49%,
    var(--blue) 86.94%
  );
}

.button-blue:hover {
  opacity: 0.8;
}

.button-blue--nav {
  padding: 8px 24px;
}

.button-blue--tariffs {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.button-blue--contacts {
  padding: 16px 40px;
}

.button-navigation {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 24px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);

  border: 1px solid var(--basic-white);
  border-radius: 8px;
  background-color: transparent;
}

.button-navigation:hover {
  opacity: 0.8;
}

.button-tariffs {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--button-green);
  text-align: center;

  border: 1px solid var(--basic-grey);
  border-radius: 8px;
  background-color: var(--basic-grey);
}

.button-tariffs:hover {
  opacity: 0.8;
}

/*------------------АККОРДИОН-------------------*/
.accordion__list {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: transparent;
}

.accordion__item {
  border-bottom: 1px solid var(--dark-grey);
}

.accordion__item:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__button {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--blue);
  text-align: start;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.accordion__button:hover {
  opacity: 0.8;
}

.accordion__button::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;

  transition: all 0.2s ease-in-out;
}

.accordion__item--active .accordion__button::before {
  background-image: url("../img/back-icon-opened.svg");
}

.accordion__item--closed .accordion__button::before {
  background-image: url("../img/back-icon-closed.svg");
}

.accordion__description {
  width: 100%;
  padding-bottom: 6px;
  margin: 0;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  overflow: hidden;
}

.accordion__item--active .accordion__description {
  display: block;
}

.accordion__item--closed .accordion__description {
  display: none;
}

/*-------------------ШАПКА----------------------------------------------------------*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.navigation__logo-link img {
  width: 112px;
  height: 32px;
}

.navigation__wrapper-list {
  display: flex;
  justify-content: space-between;
  width: 857px;
}

.navigation__site-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 544px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__site-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.navigation__site-link[href]:hover {
  opacity: 0.8;
}

.navigation__user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 273px;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*-------------------ОСНОВНАЯ ЧАСТЬ----------------------------------------------*/
/*----------Главный экран----------------------*/
.main-screen {
  margin-bottom: 100px;
}

/*----------Почему еще стоит выбрать нас?----------*/
.why-us {
  margin-bottom: 200px;
}

.why-us__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.why-us__inner {
  display: flex;
  justify-content: space-between;
}

.why-us__list {
  display: flex;
  flex-wrap: wrap;
  width: 730px;
  column-gap: 30px;
  row-gap: 38px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.why-us__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
}

.why-us__title-item {
  order: 2;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.why-us__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  order: 1;
  margin-bottom: 10px;
}

.why-us__wrapper-description {
  width: 515px;
  padding-top: 32px;
}

.why-us__subtitle {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.why-us__description {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/*----------Helpdesk-------------------------------*/
.helpdesk {
  display: flex;
  justify-content: space-between;

  margin-bottom: 200px;
}

.helpdesk__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: start;
}

.helpdesk__description {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: start;
}

.helpdesk__wrapper-description {
  width: 515px;
}

.helpdesk__wrapper-img {
  width: 733px;
}

.helpdesk__wrapper-img img {
  width: 733px;
  height: 478px;
}

/*----------Для кого наша платформа----------------*/
.our-customer {
  margin-bottom: 200px;

  background-image: url("../img/waves-our-customer.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}

.our-customer__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.our-customer__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 80px;
  width: 900px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.our-customer__item {
  display: flex;
  flex-direction: column;
  width: 225px;
}

.our-customer__title-item {
  order: 2;
  margin: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--green);
  text-align: center;
}

.our-customer__wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  padding: 20px;
  margin-bottom: 10px;
}

.our-customer__wrapper-img:nth-child(1) img {
  width: 74px;
  height: 106px;
}

.our-customer__wrapper-img:nth-child(2) img {
  width: 110px;
  height: 110px;
}

.our-customer__wrapper-img:nth-child(3) img {
  width: 117px;
  height: 105px;
}

.our-customer__wrapper-img:nth-child(4) img {
  width: 113px;
  height: 108px;
}

.our-customer__wrapper-img:nth-child(5) img {
  width: 103px;
  height: 105px;
}

.our-customer__wrapper-img:nth-child(6) img {
  width: 127px;
  height: 106px;
}

.our-customer__wrapper-img:nth-child(7) img {
  width: 102px;
  height: 109px;
}

.our-customer__wrapper-img:nth-child(8) img {
  width: 105px;
  height: 105px;
}

/*----------Тарифы-------------------------------*/
.tariffs {
  margin-bottom: 200px;
}

.tariffs__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.tariffs__description {
  width: 548px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.tariffs__link {
  color: var(--blue);
}

.tariffs__link:hover {
  opacity: 0.8;
}

.tariffs__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tariffs__item {
  display: grid;
  grid-template-rows: min-content 1fr;

  padding: 40px 24px 20px 24px;
  box-sizing: border-box;

  border: 1px solid var(--dark-grey);
  border-radius: 16px;
}

.tariffs__item--light {
  padding: 36px 24px 20px 24px;

  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(to right, var(--basic-grey), var(--basic-grey)),
    linear-gradient(90deg, var(--green), var(--blue));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.tariffs__inner-item {
  margin-bottom: 44px;
}

.tariffs__title-item {
  margin: 0;
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.tariffs__title-item--light {
  color: var(--green);
}

.tariffs__description-item {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-grey);
}

.tariffs__description-item--light {
  color: var(--green);
}

.tariffs__price-item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;
}

.tariffs__price-item span:first-child {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}

.tariffs__price-item--light span:first-child {
  background: linear-gradient(
    99.35deg,
    var(--green) 22.49%,
    var(--blue) 86.94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.tariffs__price-item span:last-child {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-grey);
}

.tariffs__price-item--light span:last-child {
  color: var(--green);
}

.tariffs__list-detailing {
  margin: 0;
  padding: 0;

  list-style: none;
}

.tariffs__item-detailing {
  position: relative;

  padding-left: 49px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.tariffs__item-detailing::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: var(--basic-grey);
  background-image: url("../img/background-icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tariffs__item-detailing--not::before {
  background-image: url("../img/background-icon-cross.svg");
}

.tariffs__item-detailing--not {
  color: var(--text-red);
}

/*----------Как установить платформу------------*/
.platform-installation {
  margin-bottom: 200px;
}

.platform-installation__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.platform-installation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.platform-installation__wrapper-accordion {
  width: 624px;
}

.platform-installation__wrapper-video {
  width: 624px;
  height: 336px;

  background-color: var(--text-grey);
  background-image: url("../img/background-video.jpg");
  background-repeat: no-repeat;
  border-radius: 12px;
}

/*----------FAQ--------------------------------*/
.faq {
  margin-bottom: 200px;
}

.faq__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.faq__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 38px;
}

.faq__wrapper-img {
  width: 586px;
}

.faq__wrapper-img img {
  width: 586px;
  height: 301px;
}

.faq__wrapper-accordion {
  width: 624px;
}

/*----------Контакты--------------------------*/
.contacts {
  margin-bottom: 100px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.contacts__inner {
  padding: 23px 0;

  background-color: var(--text-grey);
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contacts__card {
  width: 672px;
  padding: 20px;
  box-sizing: border-box;

  background-color: var(--basic-grey);
  border-radius: 16px;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: 1px solid var(--dark-grey);
}

.contacts__item h3 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.contacts__item p {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.contacts__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.contacts__link:hover {
  opacity: 0.8;
}

/*-------------------ПОДВАЛ--------------------------------------------------------*/
.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--basic-grey);
}

/*------------Вверхнее меню-----------------------*/
.footer__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;

  border-bottom: 1px solid var(--dark-grey);
}

.footer__logo-link img {
  width: 112px;
  height: 32px;
}

.footer__wrapper-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 1050px;
}

.footer__site-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__site-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}

.footer__site-link[href]:hover {
  opacity: 0.8;
}

.footer__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
  width: 144px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.footer__social-link:hover {
  opacity: 0.8;
}

.footer__social-link--instagram img {
  width: 17px;
  height: 17px;
}

.footer__social-link--twitter img {
  width: 16px;
  height: 13px;
}

.footer__social-link--youtube img {
  width: 17px;
  height: 13px;
}

/*------------Нижнее меню-----------------------*/
.footer__inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-grey);
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 557px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-grey);
}

.footer__link:hover {
  opacity: 0.8;
}
