@font-face {
  font-family: "Inter";
  src: url("../fonts/interregular.woff2") format("woff2"),
    url("../fonts/interregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/intermedium.woff2") format("woff2"),
    url("../fonts/intermedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/intersemibold.woff2") format("woff2"),
    url("../fonts/intersemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/interbold.woff2") format("woff2"),
    url("../fonts/interbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Кастомные свойства -цвета */

:root {
  --basic-white: #ffffff;
  --basic-black: #171717;
  --basic-grey: #252525;
  --text-grey: #8f8f8f;
  --footer-grey: #545454;
  --button-blue: #00a0ff;
  --button-green: #00f6b6;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 1440px;
  margin: 0;
  padding: 0;
  min-height: 100%;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------------------КНОПКИ---------------------*/
.button-blue {
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-black);

  border-radius: 8px;
  background: linear-gradient(
    99.35deg,
    var(--button-green) 22.49%,
    var(--button-blue) 86.94%
  );
}

.button-blue:hover {
  opacity: 0.8;
}

.button-blue--nav {
  padding: 8px 24px;
}

.button-navigation {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 24px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);

  border: 1px solid var(--basic-white);
  border-radius: 8px;
  background-color: transparent;
}

.button-navigation:hover {
  opacity: 0.8;
}

/*-------------------ШАПКА------------------------*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.navigation__logo-link img {
  width: 112px;
  height: 32px;
}

.navigation__wrapper-list {
  display: flex;
  justify-content: space-between;
  width: 857px;
}

.navigation__site-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 544px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__site-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.navigation__site-link[href]:hover {
  opacity: 0.8;
}

.navigation__user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 273px;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*-------------------ПОДВАЛ-----------------------*/
.footer {
  background-color: var(--basic-grey);
  padding-top: 40px;
  padding-bottom: 40px;
}

/*------------Вверхнее меню-----------------------*/
.footer__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;

  border-bottom: 1px solid var(--footer-grey);
}

.footer__logo-link img {
  width: 112px;
  height: 32px;
}

.footer__wrapper-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 1050px;
}

.footer__site-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__site-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}

.footer__site-link[href]:hover {
  opacity: 0.8;
}

.footer__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
  width: 144px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.footer__social-link:hover {
  opacity: 0.8;
}

.footer__social-link--instagram img {
  width: 17px;
  height: 17px;
}

.footer__social-link--twitter img {
  width: 16px;
  height: 13px;
}

.footer__social-link--youtube img {
  width: 17px;
  height: 13px;
}

/*------------Нижнее меню-----------------------*/
.footer__inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-grey);
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 557px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-grey);
}

.footer__link:hover {
  opacity: 0.8;
}
